body
{
	background-color: #FAFAFA;
	font-family: 'Roboto Light', 'Helvetica', 'Arial', sans-serif;
}

.mdl-layout__header-row
{
	padding-left:16px;
}

#note-template
{
	display:none;
}

.page-content .mdl-card
{
	margin-right:auto;
	margin-left:auto;
	margin-top:16px;
	margin-bottom:16px;
}

.mdl-card
{
	min-height:100px;
}

.mdl-card__title
{
	height: 100px;
}

#show-dialog
{
	margin-bottom:16px;
	position:fixed;
	bottom:0px;
	right:16px;
	z-index:1;
}

.note-synched
{
	color: white;
	background-color: #43A047;
}

.note-unsynched
{
	color: white;
	background-color: #F44336;
}

#refresh-button
{
	
}